starlight_patch_100/**
build100SWITCH/**
build100EMU/**
romfs stuff/**
.vscode/**
Crash Reports/**
.cache/**
Custom Stage Builds/**
*.lst
*.disabled

compile_commands.json

Ultimate_SMO_Compiler.bat
Makefile
